@use '../global/' as g;

.c-mv {
  img {
    width: 100%;
  }

  .slick-slider {
    margin: 0;
  }

  .slick {
    &-arrow {
      z-index: 2;
      width: 24px;
      height: 48px;
      background: url('/assets/imgs/icon-arrow-01.svg') no-repeat center center / contain;

      &::before {
        content: unset;
      }

      @include g.media(sp) {
        width: 16px;
        height: 40px;
      }
    }

    &-prev {
      left: 36px;

      @include g.media(sp) {
        left: 10px;
      }
    }

    &-next {
      right: 36px;
      transform: translate(0, -50%) rotate(180deg);

      @include g.media(sp) {
        right: 10px;
      }
    }

    &-dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex !important;
      justify-content: center;
      gap: 5px;
      width: 100%;
      max-width: 500px;
      margin-inline: auto;

      li {
        width: 100%;
        height: 2px;
        background: hsla(0, 0%, 100%, .2);
        position: relative;
        overflow: hidden;
        border-radius: 3px;

        .progress {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 0 0;
        }

        &.slick-active .progress {
          animation: sliderPagination 5s linear 0.2s forwards;
        }

        .progress.active {
          width: 100%;
        }

        button {
          display: none;
        }
      }
    }
  }

  &__brand {
    &--item {
      display: flex;
      a{
        display: flex;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}

@keyframes sliderPagination {
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}