@use '../global/' as g;

.c-showroom {
  background-color: g.$white02;
  padding-block: 120px;

  @include g.media(tab) {
    padding: 80px 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% / 2);
    padding: 10px 20px;

    @include g.media(sp) {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__text01 {
    a {
      font-size: 18px;
      font-weight: 600;
      color: #dc3232;
    }
  }

  &__slider {
    .slick {
      &-arrow {
        background: g.$blue01 url('/assets/imgs/icon-arrow-01.svg') no-repeat center center / contain;
        z-index: 2;
        opacity: 0.3;
        border-radius: 2px;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
        }

        @media screen and (min-width: 768px) {
          width: 32px;
          height: 32px;
        }

        @include g.media(sp) {
          display: none;
        }

        &::before {
          content: unset;
        }
      }

      &-next {
        right: -15px;
        transform: translate(0, -50%) rotate(180deg);
      }

      &-prev {
        left: -15px;
      }

      &-dots {
        bottom: 10px;

        @include g.media(sp) {
          bottom: 5px;
        }

        li,
        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }

        button {
          background-color: #fff;

          &::before {
            content: unset;
          }
        }

        li.slick-active {
          button {
            background-color: g.$blue01
          }
        }
      }
    }
  }
}