@use '../global/' as g;

.c-footer {
  background-color: g.$blue01;
  padding-block: 60px;
  color: g.$white01;

  @include g.media(sp) {
    padding-block: 40px;
  }

  &__container {
    max-width: 1340px;
    margin-inline: auto;
    padding-inline: 10px;
  }

  &__group {

    &01 {
      display: flex;
      gap: 35px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &02 {
      text-align: center;
      font-weight: 400;
      font-size: 17px;
      line-height: 1.6;

      border-top: 1px solid g.$yellow01;
      padding-top: 40px;
      margin-top: 40px;
    }
  }

  &__item {
    @media screen and (min-width: 1024px) {
      max-width: 348px;
    }

    @include g.media(sp) {
      width: 100%;
    }

    &01 {
      width: 100%;
      max-width: 460px;
    }

    iframe {
      width: 100%;
      max-width: 100%;
    }
  }

  &__text {
    &01 {
      margin-top: 24px;
    }
  }

  &__menu {
    ul {
      margin: 0;
      list-style: none;

      li {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    a {
      text-underline-offset: 8px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: g.$yellow01;
        text-decoration: underline;
      }
    }
  }
}