@use '../global/' as g;

.c-footer {
  background-color: g.$blue01;
  padding-block: 60px;
  color: g.$white01;

  @include g.media(sp) {
    padding-block: 40px;
  }

  &__container {
    max-width: 1340px;
    margin-inline: auto;
    padding-inline: 10px;
  }

  &__group {

    &01 {
      display: flex;
      gap: 35px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &02 {
      text-align: center;
      font-weight: 400;
      font-size: 17px;
      line-height: 1.6;

      border-top: 1px solid g.$yellow01;
      padding-top: 40px;
      margin-top: 40px;
    }
  }

  &__item {
    @media screen and (min-width: 1024px) {
      max-width: 348px;
    }

    @include g.media(sp) {
      width: 100%;
    }

    &01 {
      width: 100%;
      max-width: 460px;
    }

    iframe {
      width: 100%;
      max-width: 100%;
    }

    &:last-child {
      display: flex;
      align-items: end;
    }
  }

  &__text {
    &01 {
      margin-top: 8px;
      font-size: 16px;
    }

    &02 {
      font-size: 14px;
      margin-top: 12px;
    }
  }

  &__menu {
    display: flex;
    align-items: end;

    ul {
      margin: 0;
      list-style: none;

      li {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    a {
      text-underline-offset: 8px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: g.$yellow01;
        text-decoration: underline;
      }
    }
  }

  &__social {
    position: fixed;
    bottom: 150px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include g.media(sp) {
      bottom: 50px;
    }

    li,
    a {
      position: relative;
      width: 40px;
      height: 40px;
    }

    li {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: #D9D9D9;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        animation: identifier 1s ease-in-out infinite alternate;
        opacity: 0.5;
      }

      @keyframes identifier {
        0% {
          transform: translate(-50%, -50%) scale(1);
        }

        100% {
          transform: translate(-50%, -50%) scale(1.5);
        }
      }
    }

    a {
      background: #D9D9D9;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        height: auto;
      }
    }

    &02 {
      list-style-type: none;
      margin: 12px 0 0;
      padding: 0;
      display: flex;
      gap: 12px;

      li a {
        display: inline-flex;
        overflow: hidden;
        border-radius: 8px;
        width: 32px;
        height: 32px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}