@use '../global/' as g;

.p-about {
  &__misson {
    background-color: g.$white02;
    padding-block: 90px;

    &--list {
      display: grid;
      grid-template-columns: repeat(3, 271px);
      justify-content: center;
      gap: 20px 40px;
      margin-top: 60px;

      @include g.media(tab) {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }

      @include g.media(sp) {
        grid-template-columns: 271px;
        justify-content: center;
        gap: 40px;
      }
    }

    &--item {
      position: relative;
    }

    &--sub {
      &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.6;
        margin: 12px 0;
      }
    }

    &--icon {
      display: inline-flex;
      width: 60px;
      height: 60px;
      margin-inline: auto;
      padding: 15px;
      border-radius: 50%;
      background-color: g.$blue02;
    }

    &--desc {
      font-size: 16px;
    }
  }

  &__vison {
    padding: 95px 0;
    background: url("/assets/imgs/bg-about-01.png") no-repeat top left / cover;

    &--box {
      display: grid;
      grid-template-columns: 467px 520px;
      align-items: center;
      gap: 20px;
      justify-content: space-between;

      @include g.media(tab) {
        grid-template-columns: 1fr 1fr;
      }

      @include g.media(sp) {
        grid-template-columns: 1fr;
      }

      @media screen and (min-width: 1024px) {
        .c-title__01 {
          margin-bottom: 32px;
        }
      }
    }
  }

  &__review {
    padding: 90px 0;
    overflow-x: hidden;
    background-color: g.$blue01;

    &--slider {
      margin-top: 50px;

      .slick-list {
        margin-inline: -25px;

        @include g.media(tab) {
          margin-inline: -10px;
        }
      }

      .slick-slide {
        margin-inline: 25px;

        @include g.media(tab) {
          margin-inline: 10px;
        }
      }

      .slick-dots {
        position: static;
        margin-top: 60px;

        @include g.media(sp) {
          margin-top: 20px;
        }

        li,
        button {
          width: 15px;
          height: 15px;

          @include g.media(sp) {
            width: 8px;
            height: 8px;
          }
        }

        button {
          display: inline-flex;
          border-radius: 50px;
          background-color: g.$white01;
          transition: width 0.3s ease-in-out;

          &::before {
            content: unset;
          }
        }

        li {
          transition: width 0.3s ease-in-out;

          &.slick-active {
            width: 45px;

            button {
              background-color: g.$yellow01;
              width: 45px;
            }
          }
        }
      }
    }

    &--box {
      &01 {
        background-color: g.$white01;
        padding: 30px;
        border-radius: 10px;
        // margin-inline: 25px;
      }

      &02 {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 20px;
        padding-left: 10px;
        margin-bottom: 24px;
      }
    }

    &--text {
      &01 {
        font-weight: 700;
        font-size: 17px;
        line-height: 1.6;
      }

      &02 {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
        color: g.$yellow01;
      }
    }
  }

  &__support {
    padding: 80px 0;
    background-color: g.$white02;

    &--inner {
      max-width: 768px;
      margin-inline: auto;
    }

    &--text {
      &01 {
        text-align: center;
      }
    }
  }
}